@model IEnumerable<ConferenceBooker.Models.Speaker>

@{
    ViewBag.Title = "Speakers";
}

    <h2>Speakers</h2>

<p>
     @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table .table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpeakerId }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Details", "Details", new { id=item.SpeakerId }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.SpeakerId },new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
